@model Modelo.Models.Usuario

@{
    ViewData["Title"] = "Editar";
}

<h2>Editar</h2>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UsrId" />
            <div class="form-group">
                <label asp-for="UsrNombre" class="control-label"></label>
                <input asp-for="UsrNombre" class="form-control" />
                <span asp-validation-for="UsrNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsrPassword" class="control-label"></label>
                <input asp-for="UsrPassword" class="form-control" />
                <span asp-validation-for="UsrPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="UsrActivo" /> @Html.DisplayNameFor(model => model.UsrActivo)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="RolId" class="control-label"></label>
                <select asp-for="RolId" class="form-control" asp-items="ViewBag.RolId"></select>
                <span asp-validation-for="RolId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
