
@model Modelo.Models.ReportesViewModel
<h3>Puede ver el estado de su preregistro ingresando los siguientes datos </h3>
<div class="row">
    <div class="col-md-4">

        <form asp-action="Exportar" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="fechaInicio" class="control-label"></label>
                <input asp-for="fechaInicio" class="form-control" />
                <span asp-validation-for="fechaInicio" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="fechaFin" class="control-label"></label>
                <input asp-for="fechaFin" class="form-control" />
                <span asp-validation-for="fechaFin" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Exportar a XLS" class="btn btn-default" />
            </div>
         </form>

    </div>
</div>