@model Modelo.Models.Preregistros

@{
    ViewData["Title"] = "Crear pre-registro";
}

<h2>Nuevo pre-registro</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="PreregId" class="control-label"></label>
            <input asp-for="PreregId" class="form-control" />
            <span asp-validation-for="PreregId" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="PreregIdentificacion" class="control-label"></label>
                <input asp-for="PreregIdentificacion" class="form-control" />
                <span asp-validation-for="PreregIdentificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreregNombres" class="control-label"></label>
                <input asp-for="PreregNombres" class="form-control" />
                <span asp-validation-for="PreregNombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreregApellidos" class="control-label"></label>
                <input asp-for="PreregApellidos" class="form-control" />
                <span asp-validation-for="PreregApellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreregEmail" class="control-label"></label>
                <input asp-for="PreregEmail" class="form-control" />
                <span asp-validation-for="PreregEmail" class="text-danger"></span>
            </div>

            @if (Model.TipoprId == 2)
    {
        @*<div class="form-group">
        <label asp-for="CvId" class="control-label"></label>
        <select asp-for="CvId" class="form-control" asp-items="ViewBag.CvId"></select>

    </div>*@
            <div class="form-group">
                <label asp-for="PreregAdjunto" class="control-label"></label>
                <input type="file" name="formFile" id="formFile" class="form-control" />
                <span asp-validation-for="PreregAdjunto" class="text-danger"></span>

            </div>
        <div class="form-group">
            <label asp-for="PreregTematica" class="control-label"></label>
            <input asp-for="PreregTematica" class="form-control" />
            <span asp-validation-for="PreregTematica" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PreregAreaProfesional" class="control-label"></label>
            <input asp-for="PreregAreaProfesional" class="form-control" />
            <span asp-validation-for="PreregAreaProfesional" class="text-danger"></span>
        </div>

}
            <div class="form-group" hidden>
                <label asp-for="PreregFechaCreacion" class="control-label"></label>
                <input asp-for="PreregFechaCreacion" class="form-control" />
                <span asp-validation-for="PreregFechaCreacion" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="PreregFechaModificacion" class="control-label"></label>
                <input asp-for="PreregFechaModificacion" class="form-control" />
                <span asp-validation-for="PreregFechaModificacion" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="TipoprId" class="control-label"></label>
                <select asp-for="TipoprId" class="form-control" asp-items="ViewBag.TipoprId"></select>
            </div>
            <div class="form-group" readonly>
                <label class="control-label">Estado del pre-registro</label>
                <select asp-for="EstprId" class="form-control" asp-items="ViewBag.EstprId" disabled></select>
            </div>

            @if (Model.EstprId == 1)
             {
                    <div class="form-group">
                        <input type="submit" value="Crear" class="btn btn-default" />
                    </div>
            }


        </form>
    </div>
</div>



    @if (Model.EstprId == 2)
    {
        <h2>
            El pre-registro se creó satisfactoriamente.
        </h2>
        <div>
      <a asp-action="Index">Volver al Inicio</a>
    </div>
    }

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
